.business-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 5vw;
  height: 60vh;
}
.info-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}
.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-self: space-around;
  width: 30vw;
}
p {
  text-align: left;
}
td {
  text-align: left;
  padding: 1vh;
}

