.business-wrapper {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  width: 80vw;
  height: 88vh;
}
.info-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 100%;
  margin-left: 15vw;
}
.business-wrapper h1{
  align-self: flex-end;
}
.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35vw;
  
}
p {
  text-align: left;
}
td {
  text-align: left;
  padding: 1vh;
}

